
@{
    Layout = null;
 }

<!DOCTYPE html>
<head>
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        @ViewBag.Greeting World!(view)
        <p>We are having a party</p>
        <a class="btn btn-primary" asp-action="RsvpForm">Rsvp Now</a>
    </div>
  
</body>