@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/css/Style.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>RsvpForm</title>
</head>
<body>
    <div class="panel">
        <div asp-validation-summary="All"></div>
        <form asp-action="RsvpForm" method="post">
            <p >
                <label asp-for="Name">Your Name</label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </p>
            <p>
                <label asp-for="Email">Your Email</label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </p>
            <p>
                <label asp-for="Phone">Your Phone</label>
                <input asp-for="Phone" />
                <span asp-validation-for="Phone"></span>
            </p>
            <p>
                <label >Will you attend?</label>
                <select asp-for="WillAttend">
                    <option value="">Choose an option</option>
                    <option value="true">Yes, i will</option>
                    <option value="false">No, I can't come</option>
                </select>
                <span asp-validation-for="WillAttend"></span>
            </p>
            <button type="submit">Submit RSVP</button>
        </form>
    </div>
    
</body>
</html>
