@model Club
@{
    ViewBag.Title = "Update Club Information";
    Layout = "_Layout";
}
<html>
<body>

    <header class="masthead">
        <section class="min-vh-100">
            <div class="container">
                <div class="row text-white">
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                        <h1 class="">Edit CLub Information </h1>
                        <div class="px-2">
                            <form asp-action="UpdateViews" method="post" class="justify-content-center form">
                                <input type="hidden" asp-for="ClubID" />
                                @Html.Partial("AddClubForm")
                                <button type="submit" class="btn btn-primary btn-lg">Save Information</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
</body>
</html>